language: python
python:
  - "2.7"
cache:
  directories:
    - $HOME/.cache/pip
install:
  - pip install .
  - pip install coveralls
script:
  - coverage run -m unittest discover
  - python setup.py sdist
  - python setup.py bdist
  - python setup.py bdist_egg
after_success:
  - coveralls
sudo: false
